form input {
  width: 63px;
  height: 60px;
  font-size: 25px;
  background-color: #5E5F61;
  border: 1px solid #000;
  color: #fff;
  font-family : 'Ubuntu', sans-serif;
}


.main {
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #2B2C2E;
  width: 265px;
  margin: auto;
}

